$h-spacing: 1rem;
$v-spacing: 1.5rem;

.d-ib {
  display: inline-block;
}

.fl-l {
  float: left;
}

.m-auto {
  margin: auto;
}

.mr-1 {
  margin: $h-spacing;
}

.g-10 {
  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
}

.maw-100p {
  max-width: 100%;
}

// specifics
.col-12 {
  width: 960px;
}

.h-24 {
  height: 24 * $v-spacing;
}