$h-spacing: 1rem;
$v-spacing: 1.5rem;

* {
  box-sizing: border-box;
}

// helpers
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.btn {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

// styles

.d-ib {
  display: inline-block;
}

.fl-l {
  float: left;
}

.fs-small {
  font-size: 0.8rem;
}

.g-10 {
  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
}

.lh-2 {
  line-height: $v-spacing * 2;
}

.m-auto {
  margin: auto;
}

.m-1 {
  margin: $h-spacing;
}

.maw-100p {
  max-width: 100%;
}

.ov-a {
  overflow: auto;
}

.p-1 {
  padding: $h-spacing;
}

.ta-c {
  text-align: center;
}
.ta-l {
  text-align: left;
}

.va-m {
  vertical-align: middle;
}
.va-t {
  vertical-align: top;
}

// specifics
@for $i from 1 to 13 {
  .col-#{$i} {
    width: 80px * $i // 80 to 960 px
  }
}

@for $i from 1 to 25 {
  .h-#{$i} {
    height: $i * $v-spacing; // 80 to 960 px
  }
}
