$h-spacing: 1rem;
$v-spacing: 1.5rem;

.d-ib {
  display: inline-block;
}

.fl-l {
  float: left;
}

.mr-1 {
  margin: $h-spacing;
}

.g-10 {
  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
}